* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-section {
  width: 50%;
  margin: auto;
}

.books {
  padding-top: 40px;
  margin-left: 5px;
}

.book-list {
  list-style: none;
}

.book-list li {
  margin-top: 20px;
}

.book-list button {
  margin: 10px 0;
}

form input {
  margin-top: 20px;
}
